<div class="left hero-unit">
<h1>Prihlasenie</h1>
<hr>

<%= form_tag sessions_path do %>
      <% if flash[:alert] %>
          <div class="alert alert-danger">
            <h4>
              <%= flash[:alert] %>
            </h4>
          </div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-danger">
            <h4>
              <%= flash[:notice] %>
            </h4>
          </div>
      <% end %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Log in" %>
    </div>
<% end %>
</div>
