<div class="left hero-unit">
<h1>Nova registracia</h1>
<hr>
<%= form_for @user do |f| %>
      <% if flash[:alert] %>
          <div class="alert alert-danger">
            <h4>
              <%= flash[:alert] %>
            </h4>
          </div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-danger">
            <h4>
              <%= flash[:notice] %>
            </h4>
          </div>
      <% end %>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button"><%= f.submit %></p>
<% end %>
</div>