<html>
<head>
  <title>Competitions</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">

  <% if flash[:alert] %>
      <div class="alert alert-danger">
        <h4>
          <%= flash[:alert] %>
        </h4>
      </div>
  <% end %>
  <% if flash[:notice] %>
      <div class="alert alert-danger">
        <h4>
          <%= flash[:notice] %>
        </h4>
      </div>
    <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
